$bg-color:#2D3033;

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-size: .9rem;
    background:$bg-color;
    color: white;
}

// .card-header{
//     background:$bg-color;
//     color: white;
//     border-color: #2D3033;
// }