$bg-color:#3F566B;
$bh-color:#2D3033;

body {
   
    font-size: .9rem;
    color: white;
    background-color:$bh-color;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

.container {
    max-width: 70%;
    @media screen and (max-width: 1200px) {
        max-width: 80%;
    }
    @media screen and (max-width: 990px) {
        max-width: 90%;
    }
    @media screen and (max-width: 760px) {
        max-width: 100%;
    }
}



// .card-header{
//     background:$bg-color;
//     color: white;
//     border-color: #2D3033;
// }