$bg-color:#3F566B;
$bh-color:#2D3033;

.header-card{
    background-color:$bh-color ;
    color: white;
    font-size: 0.1rem;
    border: #2D3033;
}

.livros-popular{
    background-color: $bg-color;
}