    
    .ir, .replace{
    // background: url(../imgsprite/.f798b6f3.svg) no-repeat; 
    background-size: 800px 1020px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}