<nav class="navbar navbar-expand-md navbar-dark flex-fill" style="height: 80px;">
  <div class="navtitulo col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="row">
      <ul class="navbar-nav flex-fill mt-0 align-items-center left-nav" >

      </ul>
    </div>
  </div>


  <div class="navitems col-8 col-sm-8 col-md-8 col-lg-6 col-xl-6"
    style="display: flex; justify-content: flex-end; align-items: center; justify-content: end;">

    <ul class="menu">
    <li class="navitem books-page main-nav-books">
      <a href="/livros/" style="text-decoration: none;">
        <span class="label">
          LIVROS
        </span>
      </a>
    </li>
    <li class="navitem lists-page main-nav-lists">
      <a href="/listas/" style="text-decoration: none;">
        <span class="label">
          LISTAS
        </span>
      </a>
    </li>
    <li class="navitem main-nav-people">
      <a href="/membros/" style="text-decoration: none;">
        <span class="label">
          MEMBROS
        </span>
      </a>
    </li>
      <li class="navitem nav-account js-nav-account">
        <a> maria</a>

        <ul class=" col-12" >
          <li class="divider">
            <a href="home">Home</a>
          </li>
          <li>
            <a href="">Profile</a>
          </li>
          <li>
            <a href="livros">Livros</a>
          </li>
          <li>
            <a>Listas</a>
          </li>
          <li (click)="Deslogar()" style="cursor: pointer;">
           <a>Logout</a>
          </li>
        </ul>
      </li>
   </ul>
  </div>
</nav>

<!-- 
    <header class="row relative justify-content-between js-hide-app" id="header">
        <section>
            <h1 class="site-logo">
                <a class="logo replace">
                    <img class="col-3 lg-col-4 md-col-5 xsm-col-6" src="../../../assets/img/LOGO LICRITIQ.png">
                </a>
            </h1>
            <nav
            class="col-9 d-flex-row align-items-center lg-d-none"
             style="overflow: hidden"
            >
            <ul class="col-12 justify-content-end nav-list">
                <li class="navitem nav-account js-nav-account" style="right: 47;">
                    <a></a>
                    <ul class="subnav" style="display: none;"></ul>
                </li>
                <li class="navitem main-nav-activity">

                </li>
                <li class="navitem films-page main-nav-films"></li>
                <li class="navitem lists-page main-nav-lists"></li>
                <li class="navitem main-nav-people"></li>
                <li class="navitem main-nav-journal"></li>
                <li class="navitem -search js-nav-search-toggle"></li>
            </ul>
        </nav>
        
        </section>
    </header>
    -->