    
    .ir, .replace{
    // background: url(../imgsprite/.f798b6f3.svg) no-repeat; 
    background-size: 800px 1020px;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}

// header {
//     padding: 2em 0;
//     z-index: 3;
//     letter-spacing: 1px;
//     img {
//         margin-top: -0.5em;
//     }
//     nav ul li,
//     ul {
//         input {
//             opacity: 0.4;
//             border-radius: 100px;
//             border: none;
//             padding: 0.2em 1em;
//             transition: opacity 100ms ease-in;
//             width: 100%;
//             &:focus {
//                 opacity: 1;
//             }
//             &:hover {
//                 opacity: 1;
//             }
//         }
//     }
// }

.navitem{
 
   
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}span{
    color: white;
    cursor: pointer;
}
.navitem ul{
    z-index: 1050;

}
.navitem ul li a{
    justify-content: center;
    align-items: center;
}


.menu{
    list-style: none;
    float:left;
   
}
.menu li{
    
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}
.menu li a{
   
    color:#ffffff; 
    text-decoration:none; 
    padding:5px 10px;
    display:block; 
}
.menu li  ul{
  
    position:absolute;
    top:25px;
    left:0;

    display:none;
    }
    .menu li:hover ul, .menu li.over ul{
       
        display:block;}

    .menu li ul li{
        
        border:1px solid #c0c0c0;
        display:block;
        width:8rem;
        background-color: #3c5165;
        }
