
    <header class="site-header js-hide-app" id="header">
        <section>
            <h1 class="site-logo">
                <a class="logo replace">
                    <img src="../../../assets/img/LOGO LICRITIQ.png">
                </a>
            </h1>
            <nav
            class="main-nav navbar-expand-md navbar-dark flex-fill"
             style="overflow: hidden"
            >
            <ul class="navitems">
                <li class="navitem nav-account js-nav-account" style="right: 47;">
                    <a></a>
                    <ul class="subnav" style="display: none;"></ul>
                </li>
                <li class="navitem main-nav-activity"></li>
                <li class="navitem films-page main-nav-films"></li>
                <li class="navitem lists-page main-nav-lists"></li>
                <li class="navitem main-nav-people"></li>
                <li class="navitem main-nav-journal"></li>
                <li class="navitem -search js-nav-search-toggle"></li>
            </ul>
        </nav>
        
        </section>
    </header>
   