<div class="align-items-center" style="overflow-y: hidden">
    <div
    class="align-items-center mx-auto mt-2 pt-0 p-5 pt-0"
    style="overflow: hidden"
    >
    <div class="col-12">
     
     <div class="card mt-4">
        <span class="header ">
            <h4>Novas leituras de amigos</h4>
        </span>
        <!-- <div class="card-header">
            <h4>Nova leituras de amigos</h4>
        </div> -->
        <div class="card-body col-12">

                <div class="user-info col-2 mt-2">
                    <img class="card-img" src="assets/img/cancaodeninar.jpg">
                    <span class="user-name">Maria</span>
                    <div class="user-review">
                        <span class="avaliacao"> nota</span>
                        <span class="reading-date">25 Aug</span>
                    </div>
                </div>
        </div>
        </div>

     
        <div class="card mt-4">
            <span class="header">
                <h4>
                    Mais lidos no Brasil
                </h4>
            </span>
            <div class="card-body">

            </div>
        </div>
    </div>