<div class="align-items-center" style="overflow-y: hidden">
    <div class="align-items-center mx-auto mt-2 pt-0 p-5 pt-0" style="overflow: hidden">
                <div class="card mt-4">
                    <span class="header-card">
                        <h4>Novas leituras de amigos</h4>
                    </span>
                    <!-- <div class="card-header">
            <h4>Nova leituras de amigos</h4>
        </div> -->
                </div>

                <!-- primeira seção -->
                <div class="livros-popular row">
                    <!-- Primeiro item -->
                    <div class="col-2 relative sm -col-4 sm-d-flex justify-content-center">
                      <a href="#" class="col-12 sm-d-flex sm-justify-content-center sm-mb">
                        <img src="../../../assets/img/cancaodeninar.jpg" alt="" />
                      </a>
                      <ul class="no-list-style absolute d-flex-col flex-column align-items-center">
                        <li class="watched"></li>
                        <li>2,523</li>
                        <li class="liked"></li>
                        <li>892</li>
                      </ul>
                    </div>
                  
                    <!-- Segundo item -->
                    <div class="col-2 relative sm-col-4 sm-d-flex-row sm-justify-content-center">
                      <a href="#" class="col-12 sm-d-flex-row sm-justify-content-center sm-mb">
                        <img src="../../../assets/img/cancaodeninar.jpg" alt="" />
                      </a>
                      <ul class="no-list-style absolute d-flex flex-column align-items-center">
                        <li class="watched"></li>
                        <li>13,409</li>
                        <li class="liked"></li>
                        <li>3,664</li>
                      </ul>
                    </div>
             
<!-- 
                  terceiro -->
                  <div class="col-2 relative sm-col-4 sm-d-flex-row sm-justify-content-center">
                    <a href="#" class="col-12 sm-d-flex-row sm-justify-content-center sm-mb-">
                        <img src="../../../assets/img/cancaodeninar.jpg" alt="" />
                    </a>
                    <ul class="no-list-style absolute d-flex-col align-items-center lg-d-none">
                        <li class="watched"></li>
                        <li>76,152</li>
                        <li class="liked"></li>
                        <li>23,700</li>
                    </ul>
                </div>

                <!-- quarto -->
                <div class="col-2 relative sm-col-4 sm-d-flex-row sm-justify-content-center">
                    <a href="#" class="col-12 sm-d-flex-row sm-justify-content-center sm-mb-">
                        <img
                            src="../../../assets/img/cancaodeninar.jpg"
                            alt=""
                        />
                    </a>
                    <ul class="no-list-style absolute d-flex-col align-items-center lg-d-none">
                        <li class="watched"></li>
                        <li>105,321</li>
                        <li class="liked"></li>
                        <li>38,376</li>
                    </ul>
                </div>

                <!-- quinto -->
                <div class="col-2 relative sm-col-4 sm-d-flex-row sm-justify-content-center">
                    <a href="#" class="col-12 sm-d-flex-row sm-justify-content-center sm-mb-">
                        <img
                            src="../../../assets/img/cancaodeninar.jpg"
                            alt=""
                        />
                    </a>
                    <ul class="no-list-style absolute d-flex-col align-items-center lg-d-none">
                        <li class="watched"></li>
                        <li>133,216</li>
                        <li class="liked"></li>
                        <li>41,765</li>
                    </ul>
                </div>

                <!-- sexto -->

                <div class="col-2 relative sm-col-4 sm-d-flex-row sm-justify-content-center">
                    <a href="#" class="col-12 sm-d-flex-row sm-justify-content-center">
                        <img
                            src="../../../assets/img/cancaodeninar.jpg"
                            alt=""
                        />
                    </a>
                    <ul class="no-list-style absolute d-flex-col align-items-center lg-d-none">
                        <li class="watched"></li>
                        <li>122,751</li>
                        <li class="liked"></li>
                        <li>59,421</li>
                    </ul>
                </div>
    </div>
            <div class="letterboxd-lets-you row d-flex-row flex-nowrap">

            </div>

                    
         
                <div class="card mt-4">
                    <span class="header-card">
                        <h4>
                            Mais lidos no Brasil
                        </h4>
                    </span>
                    <div class="card-body">

                    </div>
                </div>
            </div>
