<div class="align-items-center" style="overflow-y: hidden">
    <div class="align-items-center mx-auto mt-2 pt-0 p-5 pt-0" style="overflow: hidden">
        <div class="content-home">
            <h1 class="title-hero mt-4" > Welcome back,
                <a href="maria">Maria</a>
                .
                <span class="mob-esconde">Aqui está o que seus amigos andam lendo</span>
            </h1>
            <section id="recent-friends" class="section">
                <h2 class="section-heading">
                    <a>Novo de amigos</a>
                </h2>
                <ul class="poster-list -p150 -horizontal" style="list-style-type: none;">
                    <li class="poster-coitaner">
                        <div
                            class="react-component poster book-poster book-poster-868459 -attributed linked-book-poster not-in-watchlist">
                            <div>
                                <img src="../../../assets/img/cancaodeninar.jpg" width="150" height="225" class="image">
                                <div class="atrribuition block js-poster-attribuition">
                                    <p class="atrribuition">
                                        <a class="avatar -a16">
                                            <img src="../../../assets/img/cancaodeninar.jpg" width="16" height="16">
                                        </a>
                                        <strong class="name">
                                            <a href="maria">maria</a>
                                        </strong>
                                        <span class="rating rated-7"> xxxx</span>
                                        <time title="Oct 11, 2024" datetime="">Oct 11</time>
                                    </p>
                                </div>
                                <a href="" class="frame has-menu">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="public-library">
                    <h2 class="section-heading">
                        Bibliotecas Públicas
                    </h2>
                    <ul class="public-posters" style="list-style-type: none;">
                        <li class="poster-coitaner">
                            <div
                            class="react-component poster book-poster book-poster-868459 -attributed linked-book-poster not-in-watchlist">
                        
                        </div>
                        </li>
                    </ul>
            </section>
        </div>
    </div>

</div>