<div class="align-items-center">
    <div class="align-items-center mx-auto mt-2 pt-0 p-5 pt-0">
        <div class="section-filtros">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-7">
                        <section class="filtre-por">
                            <h3 class="section-heading">
                                Filtre por
                            </h3>
                            <ul class="bar-nav mt-2" style="list-style: none;display: inline-flex;">
                                <li>
                                    <section class="smenu-wrapper">
                                        <div class="smenu">
                                            <label>
                                                Ano
                                                <fa-icon class="fs" [icon]="['fas', 'caret-down']">
                                                </fa-icon>
                                            </label>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <section class="smenu-wrapper">
                                        <div class="smenu">
                                            <label>
                                                Avaliação
                                                <fa-icon class="fs icon-dashboard" [icon]="['fas', 'fa-caret-down']">
                                                </fa-icon>
                                            </label>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <section class="smenu-wrapper">
                                        <div class="smenu">
                                            <label>
                                                Popular
                                                <fa-icon class="fs icon-dashboard" [icon]="['fas', 'fa-caret-down']">
                                                </fa-icon>
                                            </label>
                                        </div>
                                    </section>
                                </li>
                                <li>
                                    <section class="smenu-wrapper">
                                        <div class="smenu">
                                            <label>
                                                Genêro
                                                <fa-icon class="fs icon-dashboard" [icon]="['fas', 'fa-caret-down']">
                                                </fa-icon>
                                            </label>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-5 mt-3">
                        <div class="ache-livro">
                            <fieldset>
                                <label class="section-heading">
                                    Ache um livro
                                </label>
                                <input type="text" class="field field-large ac_input">
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="popular-livros" class="section" style="display: block;margin: 0 0 30px;">
            <h2 class="section-heading mt-5">
                <a>Populares essa semana</a>
            </h2>
            <div class="carousel-weap carousel-horizontal">
                <ul class="carousel-nav">
                    <li class="carousel-prev">
                        <a href="#" class="carousel-disabled">
                            <span>Prev</span>
                        </a>
                    </li>
                    <li class="carousel-next">
                        <a href="#">
                            <span>Next</span>
                        </a>
                    </li>
                </ul>

                <div class="carousel-mask" style="width: 950px;display: block;">
                    <ul class="poster-list film-list -p230 film-slider carousel" style="width: 4790px; left: 0px;">
                        <li class="listitem">
                            <div
                                class="react-component poster book-poster book-poster-868459 -attributed linked-book-poster not-in-watchlist">

                                <img src="../../../assets/img/cancaodeninar.jpg" width="230" height="345" class="image">
                                <span class="overlay"></span>
                                <span class="overlay-actions js-film-options -w230" style="display: none;">
                                    <span class="watch-link-target" data-watchable-uid="film:337036">
                                        <span class="watch-link">
                                            <span class="has-icon icon-16 ajax-click-action  icon-watch"
                                                data-action="/s/film:337036/watch/" data-confirm=""
                                                data-modal-confirm="true">
                                                <span class="icon">

                                                </span>Watch this film?
                                            </span>
                                        </span>
                                    </span>
                                    <span class="like-link-target" data-likeable-uid="film:337036">
                                        <span class="like-link">
                                            <span class="has-icon icon-16 ajax-click-action  icon-like"
                                                data-action="/s/film:337036/like/" data-recaptcha-action="film_like"
                                                data-confirm="" data-modal-confirm="true">
                                                <span class="icon">

                                                </span>Like this film?
                                            </span></span>
                                    </span>
                                    <span class="replace menu-link icon">

                                    </span>
                                </span>
                                <ul class="book-stats" style="list-style: none;">
                                    <li class="stat-bookstat-watches">
                                        <a href="/film/wicked-2024/members/"
                                            class="has-icon icon-watched icon-16 tooltip"
                                            data-original-title="Watched by 398,586&nbsp;members">
                                            <span class="icon">
                                                <fa-icon class="fs d-icon" [icon]="['fas', 'eye']">
                                                </fa-icon>
                                            </span>399K</a>
                                    </li>
                                    <li class="stat bookstat-lists">
                                        <a>
                                            <span class="icon">
                                                <fa-icon class="fs d-icon" [icon]="['fas', 'heart']">
                                                </fa-icon> </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="listitem">
                            <div
                                class="react-component poster book-poster book-poster-868459 -attributed linked-book-poster not-in-watchlist">
                                <img src="../../../assets/img/cancaodeninar.jpg" width="230" height="345" class="image">
                                <span class="overlay"></span>
                                <span class="overlay-actions js-film-options -w230" style="display: none;">
                                    <span class="watch-link-target" data-watchable-uid="film:337036">
                                        <span class="watch-link">
                                            <span class="has-icon icon-16 ajax-click-action  icon-watch"
                                                data-action="/s/film:337036/watch/" data-confirm=""
                                                data-modal-confirm="true">
                                                <span class="icon">

                                                </span>Watch this film?
                                            </span>
                                        </span>
                                    </span>
                                    <span class="like-link-target" data-likeable-uid="film:337036">
                                        <span class="like-link">
                                            <span class="has-icon icon-16 ajax-click-action  icon-like"
                                                data-action="/s/film:337036/like/" data-recaptcha-action="film_like"
                                                data-confirm="" data-modal-confirm="true">
                                                <span class="icon">

                                                </span>Like this film?
                                            </span></span>
                                    </span>
                                    <span class="replace menu-link icon">

                                    </span>
                                </span>
                                <ul class="book-stats" style="list-style: none;">
                                    <li class="stat-bookstat-watches">
                                        <a href="/film/wicked-2024/members/"
                                            class="has-icon icon-watched icon-16 tooltip"
                                            data-original-title="Watched by 398,586&nbsp;members">
                                            <span class="icon">
                                                <fa-icon class="fs d-icon" [icon]="['fas', 'eye']">
                                                </fa-icon>
                                            </span>399K</a>
                                    </li>
                                    <li class="stat bookstat-lists">
                                        <a>
                                            <span class="icon">
                                                <fa-icon class="fs d-icon" [icon]="['fas', 'heart']">
                                                </fa-icon> </span>
                                        </a>
                                    </li>
                                </ul>

                                <a href="" class="frame has-menu">
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </section>