<div class="align-items-center" style="overflow-y: hidden">
    <div class="align-items-center mx-auto mt-2 pt-0 p-5 pt-0" style="overflow: hidden">

        <div class="card" style="border: transparent; color: white;">
            <div class="header-filtro">
                <div class="row  d-flex align-items-center">
                       <li class="menuList col-8 d-flex align-items-center">
                        <a class="me-3">Filtre por: </a>
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="color: white;">
                                ANO
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">2024</a>
                            </div>
                            <!-- <li class="divider me-4">
                                <a>ANO</a>
                                <ul>
                                    <Li>2024</Li>
                                </ul>
                            </li> -->
                            <li class="me-3">
                                AVALIAÇÃO
                            </li>
                            <li class="me-3">
                                POPULAR
                            </li>
                            <li class="me-3">
                                GENÊROS
                            </li>
                            <li class="me-3">
                                SERVIÇO
                            </li>
                            <li >
                                OUTROS
                            </li>
                        </div>
                       </li>
                    
                    <div class="col-4 search-book text-end align-items-center justify-content-end">
                        <label class="me-2 mb-4">Ache um livro
                            <input type="text" class="field field-large ac_input" data-url="" autocomplete="off">
                        </label>
                
                    </div>
                </div>
            </div>
        </div>
        <section id="livros-populares" class="section mt-4">
            <h3 class="section-heading">
                <a>Livros populares este mês</a>
            </h3>
            <div class="carousel-wrap carousel-horizontal">
                <ul class="carousel-nav" style="list-style-type: none;">
                    <li>
                        <a href="#" class="carousel-disabled">
                            <span>Prev</span>
                        </a>
                    </li>
                    <li class="carousel-next">
                        <a href="#">
                            <span>Next</span>
                        </a>
                    </li>
                </ul>
                <div class="carousel-mask" style="width: 950px;">
                    <ul class="poster-list book-list -p230 bool-slider carousel" style="width: 4790px; left: 0px;list-style-type: none;">
                        <li class="listitem">
                            <div class="react-component">
                                <div>
                                <img src="../../../../assets/img/cancaodeninar.jpg" width="230" height="265" class="image"> 

                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="book-stats" style="list-style: none;">
                        <li class="stat bookstat-watches">

                        </li>
                        <li class="stat bookstat-list">

                        </li>
                        <li class="stat bookstat-likes">

                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
