$bg-color:#3F566B;
$bh-color:#2D3033;

.menuList{
    position: relative;
    list-style: none;
}

.menuFilter{
    position: relative;;
    list-style: none;
}

.header-filtro{
    background-color: $bh-color;
    border: transparent;
}



.dropdown-menu{
    position: absolute;
    will-change: transform;

}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-item {
    
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}